# 1 双向互信 ，2 单向互信
bothway="2"
# 1 更换 yum源为ali源，2 不更换yum源
aliyun="1"
# 1 表示有bluestore ，2表示没有
bluestore=2
# 1表示部署mgr,2表示不部署mgr
mgr=1
# 1表示部署osd,2表示不部署OSD
osd=1
# 1表示部署rgw,2表示不部署rgw
rgw=1
# 1表示部署portainer,2表示不部署portainer
portainer=1

# 过滤IP段
ip_segment="192.168.6"
# ntp 用
masterip="192.168.6.217"
cluster_network="192.168.6.0/24"

# ceph配置文件基础目录
ceph_base_path="/data/ceph"
ceph_public_network="192.168.6.0/24"

# bluestore
disk_path="/dev"
bluestore_name="sdd"

# OSD磁盘列表
osddisk=(
sdb sdc
)

# portainer 端口
portainer_port="9000"

# MGR
mgr_ip="0.0.0.0"
mgr_monitor_port=7000


root_passwd="root123."
hostname="ceph"
hostip=(
192.168.6.217
192.168.6.218
192.168.6.219
)